.login-page{
    height: 100vh;
}
.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .link {
        color: gray
    }
}

input {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #aaa
}