.sign-up-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 77, 104);
    color: white;

}
.sign-up-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(7, 77, 104);
        height: auto;
        width: 500px;
}
