.app{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}